<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>My name is
    <%= f.text_field :name %></h3>
  </div>
  <div class="field">
    <h3>I love
    <%= f.text_field :love %></h3>
  </div>
  <div class="field">
    <h3>Link to my facebook page
    <%= f.text_field :facebook %></h3>
  </div>
  <div class="field">
    <h3>Link to your twitter page
    <%= f.text_field :twitter %></h3>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
