<h1>Listing logs</h1>

<table>

<% @logs.each do |log| %>
  <tr>
    <td>My name is <%= log.name %></td>
    <td><%= log.love %></td>
    <td><%= link_to image_tag( 'http://www.ajblog.dk/facebook_32.png'), log.facebook %></td>
    <td><%= link_to image_tag( 'http://www.ajblog.dk/twitter_32.png'), log.twitter %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Log', new_log_path %>
